/**
 * CSS for admin-specific functionality
 *
 */

.card {
	max-width:100% !important;
}
.api_screenshot {
	max-width: 100%;
	height: auto;
}
#wprule_setting_apikey + span {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: sub;
	margin-left: 5px;
	background-size: contain;
}
#wprule_setting_apikey + span.valid {
	background-image: url("../img/green_check.png");
}
#wprule_setting_apikey + span.invalid {
	background-image: url("../img/red_check.png");
}
#wprule_setting_tags,
#wprule_setting_external_tags  {
	display: none;
}

#wprule_list_tags,
#wprule_list_external_tags {
	max-width: 400px;
	padding-top: 5px;
}
#wprule_list_tags span,
#wprule_list_external_tags span {
	display: inline-block;
	background: #fff;
	border-radius: 8px;
	margin: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
#wprule_list_tags span.tag-selected,
#wprule_list_external_tags span.tag-selected {
	background: #dce0fc;
	color: #34386f;
}
.tags-info {
	padding: 5px;
}
