/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.card {
	max-width:100% !important;
}
.api_screenshot {
	max-width: 100%;
	height: auto;
}
#wprule_setting_tags {
	display: none;
}
#wprule_list_tags {
	max-width: 400px;
	padding-top: 5px;
}
#wprule_list_tags span {
	display: inline-block;
	background: #fff;
	border-radius: 8px;
	margin: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
#wprule_list_tags span.tag-selected {
	background: #dce0fc;
	color: #34386f;
}
.tags-info {
	padding: 5px;
}
